# **1. SQL FOUNDATIONS...**

---

## 1. What is a Database?

* A **database** is an **organized collection of data** stored electronically.
* Data is stored in a **structured format** so it can be:

  * Easily stored
  * Retrieved
  * Updated
  * Deleted

**Interview line:**

> A database stores structured data in an organized way to allow efficient access and management.

---

## 2. Why Do We Need Databases?

Problems with storing data in files (Excel / text files):

* Data redundancy (same data repeated)
* Data inconsistency
* No security
* Difficult to search
* No multi-user access

Databases solve this by providing:

* Centralized storage
* Data consistency
* Fast searching
* Security & access control
* Concurrent access (multiple users)

---

## 3. What is SQL?

* **SQL** stands for **Structured Query Language**
* SQL is used to:

  * Create databases & tables
  * Insert, read, update, delete data (CRUD)
  * Control access to data

Important:

* SQL is **not a programming language**
* SQL is a **query language**

**Interview line:**

> SQL is a standard query language used to interact with relational databases.

---

## 4. DBMS vs RDBMS vs SQL

### DBMS (Database Management System)

* Software that manages databases
* Stores data as files
* No table relationships

Examples:

* File-based systems

---

### RDBMS (Relational DBMS)

* Data stored in **tables (rows & columns)**
* Tables are **related using keys**
* Follows **relational model**

Examples:

* MySQL
* PostgreSQL
* Oracle
* SQL Server

---

### SQL

* Language used to **communicate with RDBMS**
* Used to perform operations on data

**One-line comparison (Interview favorite):**

> RDBMS stores data, SQL is used to access and manipulate that data.

---

## 5. Popular Databases (Know These Names)

* MySQL – Open source, web apps
* PostgreSQL – Advanced, feature-rich
* Oracle – Enterprise-level
* SQL Server – Microsoft ecosystem
* SQLite – Lightweight, local storage

---

## 6. How SQL Works (High-Level Flow)

1. User writes SQL query
2. Query is sent to the database engine
3. Engine:

   * Parses the query
   * Optimizes it
   * Executes it
4. Result is returned to the user

You **don’t** need internal algorithms — just this flow.

---

## 7. Basic Database Terminology (NON-NEGOTIABLE)

### Table

* Collection of data in **rows and columns**
* Similar to an Excel sheet

---

### Row (Record)

* One complete entry in a table
* Represents one object/entity

---

### Column (Field)

* Represents a property of data
* Each column has a data type

---

### Schema

* Logical container for database objects
* Helps organize tables

---

### Primary Key

* Uniquely identifies each row in a table
* Cannot be NULL
* Cannot have duplicates
* One primary key per table

Example:

* `id` in a user table

---

## 8. CRUD Concept (Very Important)

SQL operations are based on CRUD:

| Operation | SQL Command |
| --------- | ----------- |
| Create    | INSERT      |
| Read      | SELECT      |
| Update    | UPDATE      |
| Delete    | DELETE      |

**Interview line:**

> CRUD represents the four basic data operations supported by SQL.

---

## 9. SQL Command Categories (Must Remember)

### DDL – Data Definition Language

Used to define structure:

* CREATE
* ALTER
* DROP
* TRUNCATE

---

### DML – Data Manipulation Language

Used to manipulate data:

* INSERT
* UPDATE
* DELETE

---

### DQL – Data Query Language

Used to fetch data:

* SELECT

---

### DCL – Data Control Language

Used for permissions:

* GRANT
* REVOKE

---

### TCL – Transaction Control Language

Used for transactions:

* COMMIT
* ROLLBACK
* SAVEPOINT

---

## 10. One-Minute SQL Summary (Interview Gold)

* Database stores structured data
* RDBMS stores data in related tables
* SQL is used to interact with RDBMS
* Data is managed using CRUD operations
* SQL commands are grouped into DDL, DML, DQL, DCL, TCL

---
---
---

# **2. TABLE & DATA BASICS...**

---

## 1. What is a Table?

* A **table** stores data in **rows and columns**
* Each table represents **one entity** (e.g., users, employees, orders)
* Tables are the **heart of RDBMS**

**Interview line:**

> A table is a structured collection of related data organized into rows and columns.

---

## 2. Columns & Data Types

* Each column has:

  * A **name**
  * A **data type**
* Data type defines:

  * What kind of data can be stored
  * How much space it takes
  * Valid operations

---

## 3. Common SQL Data Types (Must Know)

### Numeric

* `INT` – whole numbers
* `BIGINT` – large whole numbers
* `DECIMAL(p,s)` – exact decimal values

### String

* `CHAR(n)` – fixed length string
* `VARCHAR(n)` – variable length string (most used)
* `TEXT` – large text

### Date & Time

* `DATE` – YYYY-MM-DD
* `TIME` – HH:MM:SS
* `TIMESTAMP` – date + time

### Boolean

* `BOOLEAN` / `BOOL` – true / false

**Interview tip:**

> VARCHAR is preferred over CHAR because it saves space.

---

## 4. Creating a Database

Creates a new database container.

```sql
CREATE DATABASE company_db;
```

Switch to database:

```sql
USE company_db;
```

---

## 5. Creating a Table

Basic syntax:

```sql
CREATE TABLE employees (
    id INT,
    name VARCHAR(50),
    salary DECIMAL(10,2),
    join_date DATE
);
```

Rules:

* Column names must be unique
* Data type is mandatory
* Order of columns matters only for display

---

## 6. Primary Key (Intro Use)

* Uniquely identifies each row
* No duplicates
* No NULL values

```sql
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary DECIMAL(10,2)
);
```

---

## 7. Inserting Data (INSERT)

Adds data into a table.

### Insert single row:

```sql
INSERT INTO employees (id, name, salary)
VALUES (1, 'Rahul', 50000);
```

### Insert multiple rows:

```sql
INSERT INTO employees (id, name, salary)
VALUES
(2, 'Anita', 60000),
(3, 'Suresh', 55000);
```

---

## 8. Viewing Data (SELECT)

Fetch data from a table.

```sql
SELECT * FROM employees;
```

Select specific columns:

```sql
SELECT name, salary FROM employees;
```

**Interview line:**

> SELECT is used to retrieve data from one or more tables.

---

## 9. NULL Values (Very Important)

* `NULL` means **unknown / missing value**
* NULL is **not zero**
* NULL is **not empty string**

Example:

```sql
INSERT INTO employees (id, name)
VALUES (4, 'Meena');
```

---

## 10. Table Structure Check

View table structure:

```sql
DESCRIBE employees;
```

(or)

```sql
DESC employees;
```

---

## 11. Common Beginner Mistakes (Interview Gold)

* Forgetting data types
* Inserting string without quotes
* Confusing NULL with 0
* Forgetting column order during INSERT
* Not defining primary key

---

## 12. Phase 1 Quick Recap

* Tables store structured data
* Columns have data types
* CREATE DATABASE → CREATE TABLE
* INSERT adds data
* SELECT retrieves data
* Primary key ensures uniqueness

---
---
---

# **3. DATA RETRIEVAL**
---

We’ll assume this table for examples:

```sql
employees
---------------------------------
id | name   | department | salary | city
---------------------------------
1  | Rahul  | IT         | 60000  | Pune
2  | Anita  | HR         | 50000  | Mumbai
3  | Suresh | IT         | 70000  | Pune
4  | Meena  | Finance    | 55000  | Delhi
5  | Arjun  | IT         | 60000  | Mumbai
```

---

## 1. SELECT Statement

Used to retrieve data from tables.

```sql
SELECT * FROM employees;
```

Select specific columns:

```sql
SELECT name, salary FROM employees;
```

**Interview line:**

> SELECT is used to fetch required columns from a table.

---

## 2. WHERE Clause (Filtering Rows)

Filters rows based on condition.

```sql
SELECT * FROM employees
WHERE department = 'IT';
```

Rule:

* WHERE filters **rows**
* Works **before** data is returned

---

## 3. Comparison Operators

| Operator | Meaning          |
| -------- | ---------------- |
| =        | equal            |
| != or <> | not equal        |
| >        | greater than     |
| <        | less than        |
| >=       | greater or equal |
| <=       | less or equal    |
| BETWEEN  | range            |

Examples:

```sql
SELECT * FROM employees WHERE salary > 60000;
```

```sql
SELECT * FROM employees
WHERE salary BETWEEN 55000 AND 70000;
```

---

## 4. Logical Operators

### AND

All conditions must be true:

```sql
SELECT * FROM employees
WHERE department = 'IT' AND city = 'Pune';
```

### OR

Any condition true:

```sql
SELECT * FROM employees
WHERE city = 'Pune' OR city = 'Mumbai';
```

### NOT

Negates condition:

```sql
SELECT * FROM employees
WHERE department != 'HR';
```

---

## 5. IN / NOT IN

Used to match multiple values.

```sql
SELECT * FROM employees
WHERE city IN ('Pune', 'Delhi');
```

```sql
SELECT * FROM employees
WHERE department NOT IN ('HR', 'Finance');
```

**Interview tip:**

> IN is cleaner and faster than multiple OR conditions.

---

## 6. LIKE & Wildcards

Used for pattern matching.

### Wildcards

* `%` → any number of characters
* `_` → exactly one character

Examples:

```sql
SELECT * FROM employees
WHERE name LIKE 'A%';
```

```sql
SELECT * FROM employees
WHERE name LIKE '_eena';
```

---

## 7. DISTINCT

Removes duplicate values.

```sql
SELECT DISTINCT department FROM employees;
```

---

## 8. ORDER BY

Sorts the result set.

Ascending (default):

```sql
SELECT * FROM employees
ORDER BY salary;
```

Descending:

```sql
SELECT * FROM employees
ORDER BY salary DESC;
```

Multiple columns:

```sql
SELECT * FROM employees
ORDER BY department, salary DESC;
```

---

## 9. LIMIT / TOP

Used to restrict number of rows.

### MySQL / PostgreSQL:

```sql
SELECT * FROM employees
ORDER BY salary DESC
LIMIT 3;
```

### SQL Server:

```sql
SELECT TOP 3 * FROM employees
ORDER BY salary DESC;
```

---

## 10. Order of Execution (INTERVIEW FAVORITE)

SQL does NOT execute in written order.

Actual execution order:

1. FROM
2. WHERE
3. SELECT
4. ORDER BY
5. LIMIT

**Interview line:**

> WHERE is executed before SELECT, which is why aliases don’t work in WHERE.

---

## 11. Common Interview Traps

* Using `=` instead of `LIKE`
* Forgetting quotes for strings
* Confusing WHERE and HAVING
* Assuming SELECT executes first
* Using LIMIT without ORDER BY

---

## 12. Phase 2 Rapid Recap

* SELECT fetches data
* WHERE filters rows
* Operators define conditions
* ORDER BY sorts data
* LIMIT restricts rows
* DISTINCT removes duplicates

---
---
---

# **4. AGGREGATE FUNCTIONS & GROUP BY**

---

We’ll use this table:

```sql
employees
---------------------------------
id | name   | department | salary | city
---------------------------------
1  | Rahul  | IT         | 60000  | Pune
2  | Anita  | HR         | 50000  | Mumbai
3  | Suresh | IT         | 70000  | Pune
4  | Meena  | Finance    | 55000  | Delhi
5  | Arjun  | IT         | 60000  | Mumbai
```

---

## 1. What are Aggregate Functions?

* Functions that **work on multiple rows**
* Return **a single value**

Common aggregates:

* `COUNT()`
* `SUM()`
* `AVG()`
* `MIN()`
* `MAX()`

**Interview line:**

> Aggregate functions perform calculations on a set of rows and return a single value.

---

## 2. COUNT()

Counts number of rows.

### Count all rows:

```sql
SELECT COUNT(*) FROM employees;
```

### Count non-NULL values:

```sql
SELECT COUNT(salary) FROM employees;
```

**Important:**

* `COUNT(*)` → counts rows
* `COUNT(column)` → ignores NULLs

---

## 3. SUM()

Adds numeric values.

```sql
SELECT SUM(salary) FROM employees;
```

Only works on **numeric columns**.

---

## 4. AVG()

Returns average value.

```sql
SELECT AVG(salary) FROM employees;
```

**Interview tip:**

> AVG ignores NULL values.

---

## 5. MIN() & MAX()

Find smallest and largest values.

```sql
SELECT MIN(salary), MAX(salary) FROM employees;
```

---

## 6. GROUP BY (MOST IMPORTANT CONCEPT)

* Groups rows that have **same values**
* Aggregate functions work **per group**

Example:

```sql
SELECT department, COUNT(*)
FROM employees
GROUP BY department;
```

Result:

* One row per department

**Rule (Golden Rule):**

> Any column in SELECT must be either aggregated or present in GROUP BY.

---

## 7. GROUP BY with Multiple Columns

Groups based on combination.

```sql
SELECT department, city, COUNT(*)
FROM employees
GROUP BY department, city;
```

---

## 8. WHERE vs HAVING (INTERVIEW FAVORITE)

### WHERE

* Filters **rows**
* Used **before grouping**
* Cannot use aggregates

```sql
SELECT department, COUNT(*)
FROM employees
WHERE salary > 55000
GROUP BY department;
```

---

### HAVING

* Filters **groups**
* Used **after grouping**
* Can use aggregate functions

```sql
SELECT department, COUNT(*)
FROM employees
GROUP BY department
HAVING COUNT(*) > 1;
```

**One-line difference:**

> WHERE filters rows, HAVING filters groups.

---

## 9. Order of Execution (VERY IMPORTANT)

Actual execution order:

1. FROM
2. WHERE
3. GROUP BY
4. HAVING
5. SELECT
6. ORDER BY

This explains:

* Why aggregates don’t work in WHERE
* Why HAVING exists

---

## 10. Common Interview Patterns

### Total salary per department:

```sql
SELECT department, SUM(salary)
FROM employees
GROUP BY department;
```

### Departments with average salary > 60000:

```sql
SELECT department, AVG(salary)
FROM employees
GROUP BY department
HAVING AVG(salary) > 60000;
```

### Count employees per city:

```sql
SELECT city, COUNT(*)
FROM employees
GROUP BY city;
```

---

## 11. Common Mistakes (Interview Traps)

* Using aggregate in WHERE
* Forgetting GROUP BY column
* Selecting non-grouped columns
* Confusing COUNT(*) with COUNT(column)

---

## 12. Phase 3 Quick Recap

* Aggregate functions return single value
* GROUP BY creates groups
* WHERE filters rows
* HAVING filters groups
* Execution order matters

---
---
---

# **5. CONSTRAINTS & DATA INTEGRITY**
---

## 1. What are Constraints?

* **Rules applied on columns or tables**
* Ensure **accuracy, consistency, and reliability** of data
* Prevent **invalid data entry**

**Interview line:**

> Constraints enforce rules on data to maintain data integrity.

---

## 2. Types of Constraints (Must Know List)

* PRIMARY KEY
* FOREIGN KEY
* UNIQUE
* NOT NULL
* CHECK
* DEFAULT

---

## 3. PRIMARY KEY

* Uniquely identifies each row
* Cannot be NULL
* Cannot have duplicate values
* One primary key per table

```sql
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    salary INT
);
```

**Interview tip:**

> Primary key automatically creates a unique index.

---

## 4. UNIQUE

* Ensures all values in a column are unique
* Can accept NULL (most DBs allow one NULL)
* Multiple UNIQUE constraints allowed per table

```sql
CREATE TABLE users (
    email VARCHAR(100) UNIQUE,
    username VARCHAR(50)
);
```

**Difference from Primary Key:**

> Primary key cannot be NULL; UNIQUE can.

---

## 5. NOT NULL

* Prevents NULL values
* Value is mandatory

```sql
CREATE TABLE students (
    name VARCHAR(50) NOT NULL,
    age INT
);
```

---

## 6. FOREIGN KEY (Intro Level)

* Creates **relationship between two tables**
* Ensures **referential integrity**
* Child table value must exist in parent table

Example:

```sql
CREATE TABLE departments (
    dept_id INT PRIMARY KEY,
    dept_name VARCHAR(50)
);

CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    name VARCHAR(50),
    dept_id INT,
    FOREIGN KEY (dept_id) REFERENCES departments(dept_id)
);
```

**Interview line:**

> Foreign key maintains relationship between parent and child tables.

---

## 7. CHECK

* Validates values using a condition

```sql
CREATE TABLE employees (
    age INT CHECK (age >= 18),
    salary INT CHECK (salary > 0)
);
```

---

## 8. DEFAULT

* Assigns default value if none provided

```sql
CREATE TABLE orders (
    status VARCHAR(20) DEFAULT 'Pending'
);
```

---

## 9. Adding Constraints After Table Creation

```sql
ALTER TABLE employees
ADD CONSTRAINT pk_emp PRIMARY KEY (emp_id);
```

---

## 10. Removing Constraints

```sql
ALTER TABLE employees
DROP CONSTRAINT pk_emp;
```

*(Syntax may vary slightly across databases)*

---

## 11. Data Integrity Types (Interview Concept)

* **Entity Integrity** → Primary Key
* **Referential Integrity** → Foreign Key
* **Domain Integrity** → Data types & CHECK

---

## 12. Common Interview Traps

* Thinking UNIQUE = PRIMARY KEY
* Forgetting FOREIGN KEY needs existing parent data
* Assuming NOT NULL prevents empty string
* Ignoring CHECK constraints

---

## 13. Phase 4 Quick Recap

* Constraints enforce rules
* Primary key = unique + not null
* Foreign key links tables
* UNIQUE ≠ PRIMARY KEY
* CHECK & DEFAULT improve data quality

---
---
---

# **6. TABLE RELATIONSHIPS & JOINs**

---

## 1. Why JOINs Are Needed

* Data is stored in **multiple tables** (normalization)
* JOINs combine data from multiple tables
* Relationship is created using **common columns (keys)**

**Interview line:**

> JOINs are used to retrieve data from multiple related tables in a single query.

---

## 2. Sample Tables (Very Important)

### employees

```text
emp_id | name   | dept_id | salary
----------------------------------
1      | Rahul  | 10      | 60000
2      | Anita  | 20      | 50000
3      | Suresh | 10      | 70000
4      | Meena  | NULL    | 55000
```

### departments

```text
dept_id | dept_name
-------------------
10      | IT
20      | HR
30      | Finance
```

---

## 3. INNER JOIN

* Returns **only matching records** from both tables
* Most commonly used JOIN

```sql
SELECT e.name, d.dept_name
FROM employees e
INNER JOIN departments d
ON e.dept_id = d.dept_id;
```

**Result logic:**

* Rows with matching `dept_id` in both tables

**Interview line:**

> INNER JOIN returns rows that have matching values in both tables.

---

## 4. LEFT JOIN (LEFT OUTER JOIN)

* Returns **all rows from left table**
* Matching rows from right table
* Non-matching → NULL

```sql
SELECT e.name, d.dept_name
FROM employees e
LEFT JOIN departments d
ON e.dept_id = d.dept_id;
```

**Use case:**

> Find employees even if they don’t belong to a department.

---

## 5. RIGHT JOIN (RIGHT OUTER JOIN)

* Returns **all rows from right table**
* Matching rows from left table

```sql
SELECT e.name, d.dept_name
FROM employees e
RIGHT JOIN departments d
ON e.dept_id = d.dept_id;
```

**Note:**

* Less commonly used
* LEFT JOIN can replace RIGHT JOIN by switching tables

---

## 6. FULL JOIN (FULL OUTER JOIN)

* Returns:

  * All matching rows
  * All non-matching rows from both tables

```sql
SELECT e.name, d.dept_name
FROM employees e
FULL JOIN departments d
ON e.dept_id = d.dept_id;
```

**Result includes:**

* Employees without department
* Departments without employees

---

## 7. JOIN vs WHERE (Interview Trap)

❌ Old style (avoid):

```sql
SELECT *
FROM employees, departments
WHERE employees.dept_id = departments.dept_id;
```

✅ Proper JOIN:

```sql
SELECT *
FROM employees
JOIN departments
ON employees.dept_id = departments.dept_id;
```

**Interview tip:**

> Always prefer explicit JOIN syntax for clarity and performance.

---

## 8. SELF JOIN

* Table joins with itself
* Used for hierarchical data

Example: Manager–Employee relationship

```sql
SELECT e.name AS employee, m.name AS manager
FROM employees e
LEFT JOIN employees m
ON e.manager_id = m.emp_id;
```

---

## 9. JOIN with WHERE

* JOIN → combines tables
* WHERE → filters result

```sql
SELECT e.name, d.dept_name
FROM employees e
JOIN departments d
ON e.dept_id = d.dept_id
WHERE e.salary > 60000;
```

---

## 10. Multiple JOINs

Joining more than two tables.

```sql
SELECT e.name, d.dept_name, p.project_name
FROM employees e
JOIN departments d ON e.dept_id = d.dept_id
JOIN projects p ON e.emp_id = p.emp_id;
```

---

## 11. Common Interview Questions Logic

### Employees without department:

```sql
SELECT e.name
FROM employees e
LEFT JOIN departments d
ON e.dept_id = d.dept_id
WHERE d.dept_id IS NULL;
```

---

### Departments with no employees:

```sql
SELECT d.dept_name
FROM departments d
LEFT JOIN employees e
ON d.dept_id = e.dept_id
WHERE e.emp_id IS NULL;
```

---

## 12. Common Mistakes (Interview Killers)

* Forgetting ON condition
* Using WHERE instead of ON incorrectly
* Confusing LEFT vs RIGHT JOIN
* Not handling NULL values
* Selecting `*` in interviews

---

## 13. Phase 5 Quick Recap

* JOIN combines tables
* INNER → only matching
* LEFT → all left + matches
* RIGHT → all right + matches
* FULL → everything
* SELF JOIN → same table

---
---
---

# **7. SUBQUERIES (NESTED QUERIES)**

---

## 1. What is a Subquery?

* A **query inside another query**
* Inner query executes **first**
* Result of subquery is used by outer query

**Interview line:**

> A subquery is a query nested inside another SQL query.

---

## 2. Why Use Subqueries?

* When the result of one query depends on another
* To break complex problems into steps
* When JOIN is not required or not allowed

---

## 3. Types of Subqueries (Interview Classification)

### Based on result:

* **Single-row subquery** → returns one value
* **Multiple-row subquery** → returns multiple values

### Based on position:

* In `WHERE`
* In `SELECT`
* In `FROM`

---

## 4. Subquery in WHERE (Most Common)

### Single-value subquery

**Find employees with salary greater than average salary**

```sql
SELECT name, salary
FROM employees
WHERE salary > (
    SELECT AVG(salary)
    FROM employees
);
```

**Execution logic:**

1. Inner query calculates average salary
2. Outer query compares salaries

---

## 5. Subquery with IN (Multiple Rows)

**Find employees working in IT or HR departments**

```sql
SELECT name
FROM employees
WHERE dept_id IN (
    SELECT dept_id
    FROM departments
    WHERE dept_name IN ('IT', 'HR')
);
```

---

## 6. Subquery with EXISTS

* Checks **existence**, not actual data
* Returns TRUE or FALSE

```sql
SELECT name
FROM employees e
WHERE EXISTS (
    SELECT 1
    FROM departments d
    WHERE d.dept_id = e.dept_id
);
```

**Interview tip:**

> EXISTS is faster for large datasets.

---

## 7. Subquery in SELECT

* Used to calculate derived values

```sql
SELECT name,
       (SELECT dept_name
        FROM departments d
        WHERE d.dept_id = e.dept_id) AS department
FROM employees e;
```

---

## 8. Subquery in FROM (Derived Table)

* Subquery acts as a **temporary table**

```sql
SELECT dept_id, avg_salary
FROM (
    SELECT dept_id, AVG(salary) AS avg_salary
    FROM employees
    GROUP BY dept_id
) AS dept_avg
WHERE avg_salary > 60000;
```

---

## 9. Correlated Subquery (INTERVIEW ADVANCED)

* Inner query depends on outer query
* Executes once per row

**Example:**
Find employees earning more than their department’s average salary.

```sql
SELECT name
FROM employees e
WHERE salary > (
    SELECT AVG(salary)
    FROM employees
    WHERE dept_id = e.dept_id
);
```

**Interview line:**

> Correlated subqueries execute for each row of the outer query.

---

## 10. Subquery vs JOIN (VERY COMMON QUESTION)

| Subquery                   | JOIN                    |
| -------------------------- | ----------------------- |
| Easier to read (sometimes) | Faster for large data   |
| Nested logic               | Flat structure          |
| Can be slower              | Preferred in production |

**Interview answer:**

> Use JOIN for performance, subquery for clarity when logic demands it.

---

## 11. Common Mistakes (Interview Traps)

* Using `=` with multi-row subquery
* Forgetting alias for subquery in FROM
* Correlated subquery performance issues
* Confusing IN vs EXISTS

---

## 12. Phase 6 Quick Recap

* Subquery = query inside query
* Inner query executes first
* Can be in WHERE, SELECT, FROM
* Correlated subquery depends on outer query
* JOINs are usually faster

---
---
---

# **8. DATA MODIFICATION & TABLE CHANGES**

---

## 1. UPDATE (Modify Existing Data)

* Used to change existing records
* **Always use WHERE** unless you mean to update all rows

### Update single column

```sql
UPDATE employees
SET salary = 65000
WHERE emp_id = 1;
```

### Update multiple columns

```sql
UPDATE employees
SET salary = 70000, city = 'Pune'
WHERE name = 'Suresh';
```

**Interview line:**

> UPDATE modifies existing rows; without WHERE it updates all rows.

---

## 2. DELETE (Remove Records)

* Removes rows permanently
* Can be rolled back (if inside transaction)

```sql
DELETE FROM employees
WHERE emp_id = 4;
```

Delete all rows:

```sql
DELETE FROM employees;
```

---

## 3. DELETE vs TRUNCATE (VERY COMMON)

| DELETE             | TRUNCATE              |
| ------------------ | --------------------- |
| DML command        | DDL command           |
| Can use WHERE      | No WHERE              |
| Row-by-row         | Fast, bulk            |
| Can be rolled back | Cannot be rolled back |
| Triggers fired     | Triggers not fired    |

```sql
TRUNCATE TABLE employees;
```

**Interview line:**

> TRUNCATE is faster but irreversible.

---

## 4. ALTER TABLE

Used to modify table structure.

---

### Add a Column

```sql
ALTER TABLE employees
ADD email VARCHAR(100);
```

---

### Modify Column

```sql
ALTER TABLE employees
MODIFY salary DECIMAL(10,2);
```

---

### Rename Column

```sql
ALTER TABLE employees
RENAME COLUMN name TO emp_name;
```

---

### Drop Column

```sql
ALTER TABLE employees
DROP COLUMN email;
```

---

## 5. DROP TABLE vs DROP DATABASE

### DROP TABLE

* Deletes table structure + data permanently

```sql
DROP TABLE employees;
```

---

### DROP DATABASE

* Deletes entire database

```sql
DROP DATABASE company_db;
```

⚠️ **Danger:** Cannot be undone.

---

## 6. Safe SQL Practices (Interview Gold)

### Preview before UPDATE/DELETE

```sql
SELECT * FROM employees
WHERE emp_id = 3;
```

### Use transactions

```sql
BEGIN;
UPDATE employees SET salary = 80000 WHERE emp_id = 2;
ROLLBACK;   -- undo
```

---

## 7. Common Interview Scenarios

### Increase salary of IT employees by 10%

```sql
UPDATE employees
SET salary = salary * 1.10
WHERE department = 'IT';
```

---

### Delete employees without department

```sql
DELETE FROM employees
WHERE dept_id IS NULL;
```

---

## 8. Common Mistakes (Interview Killers)

* Running UPDATE without WHERE
* Confusing DELETE & TRUNCATE
* Dropping tables accidentally
* Not testing SELECT first

---

## 9. Phase 7 Quick Recap

* UPDATE changes data
* DELETE removes rows
* TRUNCATE removes all rows fast
* ALTER changes structure
* DROP deletes permanently
* Safety first in production

---
---
---

# **9. INDEXES & PERFORMANCE**

---

## 1. What is an Index?

* An **index** is a data structure that improves **query speed**
* Works like a **book index**
* Helps database find rows **without scanning entire table**

**Interview line:**

> An index improves data retrieval speed at the cost of extra storage.

---

## 2. Why Indexes Are Needed

Without index:

* Database does **full table scan**
* Slow for large tables

With index:

* Faster search
* Faster sorting
* Faster filtering

---

## 3. How Index Works (High-Level)

* Index stores:

  * Column value
  * Pointer to actual row
* Database uses index to jump directly to data

(No need to explain B-Trees unless asked)

---

## 4. Types of Indexes (Interview-Level)

### Primary Index

* Automatically created with PRIMARY KEY
* Unique + Not NULL
* One per table

---

### Unique Index

* Ensures uniqueness
* Created using UNIQUE constraint

---

### Secondary (Non-Unique) Index

* Created on non-primary columns
* Can have duplicates

```sql
CREATE INDEX idx_salary
ON employees(salary);
```

---

## 5. When to Use Index

✅ Good candidates:

* Columns used in:

  * WHERE
  * JOIN
  * ORDER BY
  * GROUP BY
* Large tables

Example:

```sql
SELECT * FROM employees WHERE dept_id = 10;
```

Index on `dept_id` helps.

---

## 6. When NOT to Use Index (Very Important)

❌ Avoid index on:

* Small tables
* Columns with few distinct values (gender, status)
* Columns frequently updated

**Interview line:**

> Index speeds up reads but slows down writes.

---

## 7. Index Impact on INSERT / UPDATE / DELETE

* Every data change updates index
* More indexes → slower write operations
* Balance is required

---

## 8. Checking Index Usage (Concept)

* Databases choose whether to use index
* Index may be ignored if not helpful

```sql
EXPLAIN SELECT * FROM employees WHERE salary > 60000;
```

(You just need to know what EXPLAIN is)

---

## 9. DROP Index

Removes index if not needed.

```sql
DROP INDEX idx_salary ON employees;
```

---

## 10. Common Interview Questions

### Q: Does index improve SELECT performance?

✔ Yes

### Q: Does index improve UPDATE?

❌ No (usually slows it)

### Q: How many indexes per table?

👉 As needed, not too many

---

## 11. Common Mistakes (Interview Traps)

* Creating index on every column
* Indexing frequently updated columns
* Expecting index to fix bad queries
* Forgetting index takes space

---

## 12. Phase 8 Quick Recap

* Index improves read performance
* Costs storage + write speed
* Use wisely
* Primary key creates index automatically
* Index ≠ magic solution

---
---
---

# **10. TRANSACTIONS & ACID**

---

## 1. What is a Transaction?

* A **transaction** is a group of SQL operations executed as **one unit**
* Either **all succeed** or **all fail**

**Interview line:**

> A transaction ensures that a set of operations is executed completely or not at all.

---

## 2. Why Transactions Are Needed

Without transactions:

* Partial updates
* Data inconsistency
* System crashes cause corruption

With transactions:

* Data safety
* Consistency
* Recovery on failure

---

## 3. Transaction Commands (TCL)

### BEGIN / START TRANSACTION

Starts a transaction

```sql
BEGIN;
```

---

### COMMIT

* Saves changes permanently

```sql
COMMIT;
```

---

### ROLLBACK

* Undoes changes

```sql
ROLLBACK;
```

---

### SAVEPOINT

* Creates checkpoint inside transaction

```sql
SAVEPOINT sp1;
```

Rollback to savepoint:

```sql
ROLLBACK TO sp1;
```

---

## 4. Simple Transaction Example

```sql
BEGIN;

UPDATE accounts SET balance = balance - 500 WHERE acc_id = 1;
UPDATE accounts SET balance = balance + 500 WHERE acc_id = 2;

COMMIT;
```

If error occurs:

```sql
ROLLBACK;
```

---

## 5. ACID Properties (INTERVIEW FAVORITE)

### A – Atomicity

* All operations succeed or none
* No partial transaction

**Example:**
Money debit without credit should not happen.

---

### C – Consistency

* Database moves from one valid state to another
* Constraints are respected

---

### I – Isolation

* Transactions don’t interfere with each other
* Each transaction behaves as if it’s alone

---

### D – Durability

* Once committed, data stays even after crash

---

## 6. Real-World Example (Explain in Interview)

**Bank Transfer**

* Atomicity → debit & credit together
* Consistency → balance rules
* Isolation → parallel transfers safe
* Durability → money not lost after crash

---

## 7. Auto-Commit (Important Concept)

* By default, many DBs auto-commit every query
* Transactions require manual BEGIN

Disable auto-commit:

```sql
SET autocommit = 0;
```

---

## 8. When ROLLBACK Does NOT Work

* After COMMIT
* After TRUNCATE
* After DROP

**Interview line:**

> DDL statements are auto-committed in most databases.

---

## 9. Common Interview Traps

* Thinking COMMIT can be undone
* Using transactions with TRUNCATE
* Ignoring auto-commit mode
* Confusing Isolation with Consistency

---

## 10. Phase 9 Quick Recap

* Transaction = unit of work
* COMMIT saves, ROLLBACK reverts
* SAVEPOINT allows partial rollback
* ACID ensures reliability
* DDL auto-commits

---
---
---

# **11. CASE EXPRESSIONS**

---

## 1. What is CASE?

* CASE is a **conditional expression** in SQL
* Works like **if–else**
* Returns a **single value**
* Used inside:

  * SELECT
  * WHERE
  * ORDER BY
  * GROUP BY

**Interview line:**

> CASE allows conditional logic in SQL queries.

---

## 2. Types of CASE Expressions

### 2.1 Simple CASE

* Compares a column with values
* Cleaner when checking **equality**

**Syntax:**

```sql
CASE column
    WHEN value1 THEN result1
    WHEN value2 THEN result2
    ELSE result
END
```

**Example:**

```sql
SELECT name,
       CASE department
           WHEN 'IT' THEN 'Tech'
           WHEN 'HR' THEN 'People'
           ELSE 'Other'
       END AS dept_type
FROM employees;
```

---

### 2.2 Searched CASE (MOST USED)

* Uses conditions
* More flexible

**Syntax:**

```sql
CASE
    WHEN condition THEN result
    ELSE result
END
```

**Example:**

```sql
SELECT name, salary,
       CASE
           WHEN salary >= 70000 THEN 'High'
           WHEN salary >= 50000 THEN 'Medium'
           ELSE 'Low'
       END AS salary_level
FROM employees;
```

**Interview tip:**

> Searched CASE is more powerful than Simple CASE.

---

## 3. CASE with WHERE

Used for **conditional filtering**.

**Example:**

```sql
SELECT *
FROM employees
WHERE
CASE
    WHEN department = 'IT' THEN salary > 60000
    ELSE salary > 50000
END;
```

---

## 4. CASE with ORDER BY

Used for **custom sorting**.

**Example:**

```sql
SELECT name, department
FROM employees
ORDER BY
CASE
    WHEN department = 'IT' THEN 1
    WHEN department = 'HR' THEN 2
    ELSE 3
END;
```

---

## 5. CASE with GROUP BY

Used for **conditional grouping**.

**Example:**

```sql
SELECT
CASE
    WHEN salary >= 60000 THEN 'High Salary'
    ELSE 'Low Salary'
END AS salary_group,
COUNT(*) AS total
FROM employees
GROUP BY
CASE
    WHEN salary >= 60000 THEN 'High Salary'
    ELSE 'Low Salary'
END;
```

---

## 6. CASE with Aggregate Functions (VERY COMMON)

### Conditional COUNT

```sql
SELECT
COUNT(CASE WHEN department = 'IT' THEN 1 END) AS it_count,
COUNT(CASE WHEN department = 'HR' THEN 1 END) AS hr_count
FROM employees;
```

---

### Conditional SUM

```sql
SELECT
SUM(CASE WHEN department = 'IT' THEN salary ELSE 0 END) AS it_salary
FROM employees;
```

**Interview line:**

> CASE inside aggregates enables conditional aggregation.

---

## 7. CASE vs IF / COALESCE

* CASE is **standard SQL**
* IF is DB-specific
* COALESCE handles NULL only

**Interview answer:**

> CASE is preferred for portability.

---

## 8. CASE and NULL Handling

* CASE treats NULL carefully
* NULL comparisons require IS NULL

```sql
CASE
    WHEN dept_id IS NULL THEN 'No Dept'
    ELSE 'Assigned'
END
```

---

## 9. Common Interview Patterns

### Categorization

* Salary bands
* Age groups
* Status labels

---

### Pivot-style logic

```sql
SELECT
SUM(CASE WHEN city = 'Pune' THEN 1 ELSE 0 END) AS pune_count,
SUM(CASE WHEN city = 'Mumbai' THEN 1 ELSE 0 END) AS mumbai_count
FROM employees;
```

---

## 10. Common Mistakes (INTERVIEW TRAPS)

* Forgetting ELSE (returns NULL)
* Using = with NULL
* Over-nesting CASE
* Confusing Simple vs Searched CASE

---

## 11. CASE Quick Recap

* CASE = if–else in SQL
* Two types: Simple & Searched
* Works with SELECT, WHERE, ORDER BY, GROUP BY
* Very powerful with aggregates
* Standard and portable

---
---
---

# **12. CTE (COMMON TABLE EXPRESSIONS)**

---

## 1. What is a CTE?

* A **CTE** is a **temporary named result set**
* Defined using `WITH`
* Exists **only for the duration of the query**
* Improves **readability and maintainability**

**Interview line:**

> A CTE is a temporary named result set defined using WITH to simplify complex queries.

---

## 2. Basic CTE Syntax

```sql
WITH cte_name AS (
    SELECT column1, column2
    FROM table_name
    WHERE condition
)
SELECT *
FROM cte_name;
```

Rules:

* CTE must be defined **before** the main query
* Can be referenced like a table

---

## 3. Simple CTE Example

**Find employees with salary above average**

Without CTE:

```sql
SELECT name, salary
FROM employees
WHERE salary > (
    SELECT AVG(salary) FROM employees
);
```

With CTE:

```sql
WITH avg_salary AS (
    SELECT AVG(salary) AS avg_sal
    FROM employees
)
SELECT e.name, e.salary
FROM employees e, avg_salary a
WHERE e.salary > a.avg_sal;
```

---

## 4. Multiple CTEs

You can define more than one CTE.

```sql
WITH
dept_avg AS (
    SELECT dept_id, AVG(salary) AS avg_sal
    FROM employees
    GROUP BY dept_id
),
high_paid AS (
    SELECT *
    FROM employees
    WHERE salary > 60000
)
SELECT h.name, d.avg_sal
FROM high_paid h
JOIN dept_avg d ON h.dept_id = d.dept_id;
```

---

## 5. CTE vs Subquery (VERY COMMON)

| CTE                  | Subquery            |
| -------------------- | ------------------- |
| Improves readability | Harder to read      |
| Reusable in query    | Rewritten each time |
| Easier debugging     | Nested complexity   |

**Interview answer:**

> Use CTE for clarity, subquery for simple one-off logic.

---

## 6. CTE with JOIN

CTEs work seamlessly with JOINs.

```sql
WITH it_employees AS (
    SELECT * FROM employees WHERE department = 'IT'
)
SELECT e.name, d.dept_name
FROM it_employees e
JOIN departments d ON e.dept_id = d.dept_id;
```

---

## 7. CTE with Aggregation

Very common in reporting.

```sql
WITH dept_count AS (
    SELECT dept_id, COUNT(*) AS emp_count
    FROM employees
    GROUP BY dept_id
)
SELECT *
FROM dept_count
WHERE emp_count > 2;
```

---

## 8. Recursive CTE (Conceptual Intro)

* CTE that references itself
* Used for hierarchical data

**Syntax structure:**

```sql
WITH RECURSIVE cte_name AS (
    -- Anchor query
    SELECT ...
    UNION ALL
    -- Recursive query
    SELECT ...
)
SELECT * FROM cte_name;
```

(We’ll deep dive later)

---

## 9. CTE with UPDATE / DELETE

Some databases support this.

```sql
WITH low_salary AS (
    SELECT emp_id
    FROM employees
    WHERE salary < 40000
)
DELETE FROM employees
WHERE emp_id IN (SELECT emp_id FROM low_salary);
```

---

## 10. Performance Notes (Interview Safe)

* CTEs are usually **not materialized**
* Optimizer may inline them
* Performance similar to subqueries
* Not always faster

**Interview line:**

> CTE improves readability, not necessarily performance.

---

## 11. Common Interview Traps

* Forgetting to use CTE after WITH
* Expecting CTE to persist
* Overusing CTEs
* Confusing CTE with temporary tables

---

## 12. CTE Quick Recap

* Temporary named query
* Defined using WITH
* Improves readability
* Can be recursive
* Exists only during query execution

---
---
---

# **13. WINDOW FUNCTIONS (ANALYTICAL FUNCTIONS)**

---

## 1. What is a Window Function?

* Performs calculations **across related rows**
* **Does NOT collapse rows** (unlike GROUP BY)
* Result is returned **for every row**

**Interview line:**

> Window functions perform calculations across a set of rows while retaining individual rows.

---

## 2. Window Function Syntax (NON-NEGOTIABLE)

```sql
function_name(...) OVER (
    PARTITION BY column
    ORDER BY column
)
```

Components:

* `function_name` → ROW_NUMBER, SUM, etc.
* `OVER()` → defines window
* `PARTITION BY` → grouping (optional)
* `ORDER BY` → order within window (optional)

---

## 3. Window Functions vs GROUP BY (VERY COMMON)

| Window Function   | GROUP BY             |
| ----------------- | -------------------- |
| Keeps all rows    | Collapses rows       |
| Used for analysis | Used for aggregation |
| Shows row context | Loses row detail     |

---

## 4. ROW_NUMBER()

* Assigns unique number to each row
* No ties

```sql
SELECT name, department,
ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary DESC) AS rn
FROM employees;
```

Use case:

* Top N per group

---

## 5. RANK()

* Same rank for ties
* Skips numbers

```sql
SELECT name, salary,
RANK() OVER (ORDER BY salary DESC) AS rnk
FROM employees;
```

Example:

* Salaries: 100, 100, 90 → ranks: 1, 1, 3

---

## 6. DENSE_RANK()

* Same rank for ties
* No gaps

```sql
SELECT name, salary,
DENSE_RANK() OVER (ORDER BY salary DESC) AS drnk
FROM employees;
```

Example:

* Salaries: 100, 100, 90 → ranks: 1, 1, 2

---

## 7. NTILE(n)

* Divides rows into `n` buckets

```sql
SELECT name, salary,
NTILE(4) OVER (ORDER BY salary DESC) AS quartile
FROM employees;
```

Use case:

* Percentiles
* Performance grading

---

## 8. Aggregate Window Functions

Aggregate + OVER()

### Running Total

```sql
SELECT name, salary,
SUM(salary) OVER (ORDER BY salary) AS running_total
FROM employees;
```

### Department-wise total

```sql
SELECT name, department, salary,
SUM(salary) OVER (PARTITION BY department) AS dept_total
FROM employees;
```

---

## 9. LAG() & LEAD()

Access previous or next row.

### LAG

```sql
SELECT name, salary,
LAG(salary) OVER (ORDER BY salary) AS prev_salary
FROM employees;
```

### LEAD

```sql
SELECT name, salary,
LEAD(salary) OVER (ORDER BY salary) AS next_salary
FROM employees;
```

Use case:

* Month-over-month comparison

---

## 10. FIRST_VALUE() & LAST_VALUE()

Get first/last value in window.

```sql
SELECT name, department, salary,
FIRST_VALUE(salary) OVER (PARTITION BY department ORDER BY salary DESC) AS highest
FROM employees;
```

⚠️ `LAST_VALUE` needs frame control (advanced)

---

## 11. Window Frame (INTERVIEW BONUS)

Controls how many rows are included.

```sql
ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
```

Example:

```sql
SUM(salary) OVER (
    ORDER BY salary
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
)
```

---

## 12. Common Interview Patterns

### Top 2 salaries per department

```sql
SELECT *
FROM (
    SELECT name, department, salary,
    DENSE_RANK() OVER (PARTITION BY department ORDER BY salary DESC) AS rnk
    FROM employees
) t
WHERE rnk <= 2;
```

---

### Find duplicate records

```sql
SELECT *
FROM (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY email ORDER BY emp_id) AS rn
    FROM employees
) t
WHERE rn > 1;
```

---

## 13. Common Mistakes (INTERVIEW KILLERS)

* Using GROUP BY instead of window
* Forgetting OVER()
* Confusing RANK vs DENSE_RANK
* Missing PARTITION BY
* Misusing LAST_VALUE

---

## 14. Window Functions Quick Recap

* Don’t reduce rows
* Use OVER()
* Powerful for analytics
* Essential for interviews
* Cleaner than subqueries

---
---
---

# **14. ADVANCED GROUP BY**

---

## ROLLUP • CUBE • GROUPING SETS

---

## 1. Why Advanced GROUP BY?

Normal `GROUP BY`:

* Gives **one level of aggregation**

Advanced GROUP BY:

* Gives **multiple levels in one query**
* Reduces multiple UNION queries
* Used in reporting & analytics

---

## 2. Sample Data (Assumed)

```text
sales
------------------------------
region | product | amount
------------------------------
East   | Laptop  | 50000
East   | Mobile  | 20000
West   | Laptop  | 40000
West   | Mobile  | 30000
```

---

## 3. ROLLUP

* Generates **hierarchical totals**
* Order of columns matters
* Produces **subtotals + grand total**

### Syntax

```sql
GROUP BY ROLLUP (col1, col2)
```

### Example

```sql
SELECT region, product, SUM(amount) AS total
FROM sales
GROUP BY ROLLUP (region, product);
```

### Result Logic

* (region, product)
* (region, ALL products)
* (ALL regions)

**Interview line:**

> ROLLUP produces hierarchical subtotals and a grand total.

---

## 4. CUBE

* Generates **all possible combinations**
* Order of columns does NOT matter
* More rows than ROLLUP

### Syntax

```sql
GROUP BY CUBE (col1, col2)
```

### Example

```sql
SELECT region, product, SUM(amount) AS total
FROM sales
GROUP BY CUBE (region, product);
```

### Result Includes

* (region, product)
* (region)
* (product)
* (grand total)

**Interview line:**

> CUBE generates all combinations of grouping columns.

---

## 5. GROUPING SETS

* Most **flexible**
* Manually specify groupings
* No unwanted totals

### Syntax

```sql
GROUP BY GROUPING SETS (
    (col1, col2),
    (col1),
    (col2),
    ()
)
```

### Example

```sql
SELECT region, product, SUM(amount) AS total
FROM sales
GROUP BY GROUPING SETS (
    (region, product),
    (region),
    (product),
    ()
);
```

**Interview line:**

> GROUPING SETS allow custom aggregation combinations.

---

## 6. GROUPING() Function

* Identifies subtotal vs actual value
* Returns:

  * `1` → aggregated (NULL is subtotal)
  * `0` → real value

### Example

```sql
SELECT
CASE WHEN GROUPING(region) = 1 THEN 'ALL Regions' ELSE region END AS region,
CASE WHEN GROUPING(product) = 1 THEN 'ALL Products' ELSE product END AS product,
SUM(amount) AS total
FROM sales
GROUP BY ROLLUP (region, product);
```

---

## 7. NULLs in Output (Important)

* NULL in result may mean:

  * Actual NULL in data
  * Aggregated total

👉 Use `GROUPING()` to differentiate.

---

## 8. ROLLUP vs CUBE vs GROUPING SETS (INTERVIEW TABLE)

| Feature             | ROLLUP | CUBE   | GROUPING SETS |
| ------------------- | ------ | ------ | ------------- |
| Hierarchical totals | ✅      | ❌      | ❌             |
| All combinations    | ❌      | ✅      | Custom        |
| Order matters       | ✅      | ❌      | N/A           |
| Performance         | Faster | Slower | Controlled    |

---

## 9. Real Interview Use Cases

* Region → Product → Total sales
* Monthly → Quarterly → Yearly totals
* Dashboard summary rows
* Financial reporting

---

## 10. Common Interview Traps

* Forgetting column order in ROLLUP
* Confusing NULL with actual data
* Overusing CUBE
* Not knowing GROUPING()

---

## 11. Advanced GROUP BY Quick Recap

* ROLLUP → hierarchy
* CUBE → all combinations
* GROUPING SETS → custom
* GROUPING() → detect totals
* Used in reporting

---
---
---

# 🔥 TOP 25 SQL INTERVIEW QUESTIONS (FAANG / MAANG LEVEL)

---

## 1. Find the **second highest salary**

```sql
SELECT MAX(salary)
FROM employees
WHERE salary < (SELECT MAX(salary) FROM employees);
```

**Why:** Uses exclusion instead of sorting → efficient.

---

## 2. Find **Nth highest salary**

```sql
SELECT salary
FROM (
  SELECT salary, DENSE_RANK() OVER (ORDER BY salary DESC) rnk
  FROM employees
) t
WHERE rnk = N;
```

**Why:** `DENSE_RANK` handles duplicates correctly.

---

## 3. Find **duplicate records**

```sql
SELECT email, COUNT(*)
FROM users
GROUP BY email
HAVING COUNT(*) > 1;
```

**Why:** GROUP BY + HAVING detects duplicates.

---

## 4. Delete **duplicate rows** (keep one)

```sql
DELETE FROM users
WHERE id NOT IN (
  SELECT MIN(id)
  FROM users
  GROUP BY email
);
```

**Why:** Keeps earliest row, deletes rest.

---

## 5. Find **employees without department**

```sql
SELECT e.*
FROM employees e
LEFT JOIN departments d
ON e.dept_id = d.dept_id
WHERE d.dept_id IS NULL;
```

**Why:** LEFT JOIN + NULL filter = unmatched rows.

---

## 6. Find **departments with no employees**

```sql
SELECT d.*
FROM departments d
LEFT JOIN employees e
ON d.dept_id = e.dept_id
WHERE e.emp_id IS NULL;
```

---

## 7. Top **3 salaries per department**

```sql
SELECT *
FROM (
  SELECT *, DENSE_RANK() OVER (PARTITION BY dept_id ORDER BY salary DESC) rnk
  FROM employees
) t
WHERE rnk <= 3;
```

**Why:** Window function avoids correlated subqueries.

---

## 8. Find **highest paid employee per department**

```sql
SELECT *
FROM (
  SELECT *, RANK() OVER (PARTITION BY dept_id ORDER BY salary DESC) rnk
  FROM employees
) t
WHERE rnk = 1;
```

---

## 9. Find **employees earning above department average**

```sql
SELECT e.*
FROM employees e
JOIN (
  SELECT dept_id, AVG(salary) avg_sal
  FROM employees
  GROUP BY dept_id
) d
ON e.dept_id = d.dept_id
WHERE e.salary > d.avg_sal;
```

**Why:** JOIN faster than correlated subquery.

---

## 10. Swap **gender values (M ↔ F)**

```sql
UPDATE employees
SET gender = CASE
    WHEN gender = 'M' THEN 'F'
    WHEN gender = 'F' THEN 'M'
END;
```

**Why:** CASE avoids temp storage.

---

## 11. Find **customers who never ordered**

```sql
SELECT c.*
FROM customers c
LEFT JOIN orders o
ON c.id = o.customer_id
WHERE o.id IS NULL;
```

---

## 12. Find **consecutive login days**

```sql
SELECT user_id
FROM (
  SELECT user_id,
         login_date,
         login_date - ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY login_date) grp
  FROM logins
) t
GROUP BY user_id, grp
HAVING COUNT(*) >= 3;
```

**Why:** Classic window function trick.

---

## 13. Running total of sales

```sql
SELECT date,
       SUM(amount) OVER (ORDER BY date) AS running_total
FROM sales;
```

---

## 14. Find **latest record per group**

```sql
SELECT *
FROM (
  SELECT *, ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY created_at DESC) rn
  FROM events
) t
WHERE rn = 1;
```

---

## 15. Find **odd & even rows**

```sql
-- Odd
SELECT * FROM employees WHERE MOD(id,2)=1;

-- Even
SELECT * FROM employees WHERE MOD(id,2)=0;
```

---

## 16. Remove **NULL values with defaults**

```sql
SELECT COALESCE(phone, 'Not Available') FROM users;
```

---

## 17. Compare **current row with previous**

```sql
SELECT date, sales,
       sales - LAG(sales) OVER (ORDER BY date) AS diff
FROM sales;
```

---

## 18. Find **percentage of total**

```sql
SELECT dept_id,
       SUM(salary)*100.0 / SUM(SUM(salary)) OVER () AS pct
FROM employees
GROUP BY dept_id;
```

---

## 19. Fetch **records common in two tables**

```sql
SELECT id FROM table1
INTERSECT
SELECT id FROM table2;
```

---

## 20. Find **customers with more than 1 order**

```sql
SELECT customer_id
FROM orders
GROUP BY customer_id
HAVING COUNT(*) > 1;
```

---

## 21. Find **employees who are managers**

```sql
SELECT DISTINCT manager_id
FROM employees
WHERE manager_id IS NOT NULL;
```

---

## 22. Recursive hierarchy (Manager → Employee)

```sql
WITH RECURSIVE emp_tree AS (
  SELECT emp_id, manager_id, name
  FROM employees
  WHERE manager_id IS NULL
  UNION ALL
  SELECT e.emp_id, e.manager_id, e.name
  FROM employees e
  JOIN emp_tree t ON e.manager_id = t.emp_id
)
SELECT * FROM emp_tree;
```

---

## 23. Find **most frequent value**

```sql
SELECT column_name
FROM table
GROUP BY column_name
ORDER BY COUNT(*) DESC
LIMIT 1;
```

---

## 24. Rank without window functions (fallback)

```sql
SELECT e1.name,
       (SELECT COUNT(*) FROM employees e2 WHERE e2.salary > e1.salary) + 1 AS rank
FROM employees e1;
```

⚠️ Slower, but good conceptual backup.

---

## 25. Difference between WHERE & HAVING

```sql
-- WHERE filters rows
-- HAVING filters groups
```

**Interview answer:**

> WHERE is before GROUP BY, HAVING is after GROUP BY.

---

# 🎯 FINAL INTERVIEW STRATEGY

If you master:

* **Window Functions**
* **CASE**
* **CTE**
* **JOIN logic**
* **GROUP BY + HAVING**

---
---
---